body {
    background-color: gold; text-align: center;
}

h1 {
    color: black; text-align: center;
}

h2 {
    color: black; text-align: center;
}

h3 {
    color:darkblue; text-align: center;
}

p {
    text-align: 45px; color: rgb(63, 63, 23);
}
